    body{
        background-color:red;
        justify-content: center;
        font-size:xx-large;
        color:white;
    }
    div.small{
        display:none;
    }
    div.big{
        display:block;
    }

    .mibox{
        text-align:center;
    }

    .col-6{
        background-color: aqua;
    }

    .col-4{
        background-color: blueviolet;
    }
    .col-8{
        background-color: crimson;
    }

@media only screen and (max-width: 799px) {
    body 
    {
        background-color: green;
        justify-content:flex-end;
        font-size:xx-large;
        color:white;
    }
    div.small
    {
        display:block;
    }
    div.big
    {
        display:none;
    }
}

div.links
{
    font-size:medium;
}