body{
    padding-left: 30px;
    padding-top: 20px;
    background-color: lightsteelblue;
}

h1{
    color:rebeccapurple;
}
.titulo{
    color:navy;

}

.texto{
    color:darkcyan;
    font-size: 15px;

}
.destacado{
    font-style: italic;
    font-weight: bold;
    color:darkblue;
}

/*ejercicio 4*/
.caja{
    display:inline-block;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 30px;
    background-color:grey;
    border-radius: 10px;
}

.imagen_de_la_caja{
    max-width: 100%;
    padding-top:100%;
    margin-top:10px;
    background-color: red;
    border-radius: 10px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texto_de_la_caja{
    padding-bottom:10px;
}


/*ejercicio 12*/

form.miformulario {
    padding: 10px 10px 10px 10px;
    border: 1px dashed black;
    width: 600px;
    margin: auto;
    }
form.miformulario > input[type="text"]{
    display:inline-block;
    width:70%;
}
form.miformulario > label{
    display:inline-block;
    width:17%;
}


form.miformulario > input[name="Poblacion"]{
    width:30%;
}
form.miformulario > input[name="C.Postal"]{
    width:20%;
}
