body { padding: 50px; }

.dot{
    background-color: grey;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
}

.dot_yellow {
    background-color:yellow;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
}

.dot_red {
    background-color:red;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
}

.red{
    background-color:red;
}

table, th, td {
    border:1px solid black;
    min-width: 100px;
    min-height: 100px;
  }

input { 
    text-align: center; 
}