body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
h1{
    background-color: tomato;
    font: bolder;
    font-size: 50px;

}

h2{
    background-color:greenyellow;
    padding-left: 20px;
    font:italic;
}

.imagepadding{
    overflow-y: hidden;
}